@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Esta acción solo deshabilita 2FA.</strong>
    </p>
    <p>
        La desactivación de 2FA no cambia las claves utilizadas en las aplicaciones de autenticación. Si deseas cambiar la llave
        utilizado en una aplicación de autenticador que debería <a asp-action="ResetAuthenticatorWarning">reinicia tu
        claves de autenticador</a>
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Deshabilita 2FA</button>
    </form>
</div>
