
 <section > 

 </section>

 <section id="empresa">
        <div class="contenido-seccion">
                <div class="container">
                    <h2>¿Quienes somos?</h2>
                    <p class="lead">Somos una microempresa de marketing textil. Hecemos prendas con diseños personalizado para clientes y empresas con el objetivo de satisfacer sus necesidades al solicitar una prenda
                    </p>
              </div>
        </div>
</section >

 <section id="acerca-de-M">
        <div class="contenido-seccion-V-M">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-xs-6">
                      <div class="texto-acerca-de">
                          <h3>Mision</h3>
                          <p class="lead">Textiles La Escala S.A. ofrece diversos productos y servicios textiles con precios competitivos para satisfacer los requerimientos de nuestros clientes.

                                Estamos comprometidos con el desarrollo del capital humano, seguridad ocupacional, calidad de nuestros productos, con un crecimiento rentable y respeto al medio ambiente.</p>
                          
                      </div>
                  </div>
               </div>
            </div>
        </div>
    </section>
    <div class="contenido-separacion "></div>
    <section id="acerca-de-V">
            <div class="contenido-seccion-V-M">
                <div class="container">
                   <div class="row">
                       <div class="col-md-6"></div>
                      <div class="col-md-6 col-xs-6">
                          <div class="texto-acerca-de">
                              <h3>Vision</h3>
                              <p class="lead">Ser una empresa líder en fabricación, comercialización y servicios textiles a precios competitivos para ofrecer a nuestros clientes la mejor calidad al mejor precio.

                                    Hacer conocer nuestra empresa invirtiendo en el desarrollo de la compañía y su gente.
                                    
                              </p>
                              
                               
                          </div>
                      </div>
                   </div>
                </div>
            </div>
        </section>