@model Models.ProductosModel
@{
    ViewData["Title"] = "Busca tu polo";
}

<h3>Buscar el polo ideal:</h3>

<form asp-controller="Productos" asp-action="Buscar">
	<table width = "100%">
        <tr>
            <td>
            <th scope="col">
            <label for="Coleccion">Coleccion:</label>
            </th>
            <th>
            <select name="Coleccion" id="Coleccion" class="form-control">
        	<option value="CalH">Colección Hellen</option>
        	<option value="CalUC">Colección UniChic</option>
            <option value="CalC">Colección Casual</option>
            </select>
            </th>
            </td>

            <td>
            <th>
                <label for="Talla">Talla:</label>
            </th>
            <th>
                <select name="Talla" id="Talla" class="form-control">
        	    <option value="s">Small (S)</option>
                <option value="m">Medium (M)</option>
                <option value="l">LargAe (L)</option>
        	    <option value="xl">Extra Large (XL)</option>
                </select>
            </th>
            </td>

            <td>
            <th>
               <label for="Modelo">Modelo:</label>
            </th>
            <th>
                <select name="Modelo" id="Modelo" class="form-control">
        	    <option value="maCe">Manga Cero</option>
                <option value="maCo">Manga Corta</option>
                <option value="ma3">Manga 3/4</option>
        	    <option value="maL">Manga Larga</option>
            </select>
            </th>
            </td>
        </tr>

        <tr>
            <td>
            <th>
               <label for="Material">Material:</label>
            </th>
            <th>
                <select name="Material" id="Material" class="form-control">
        	<option value="mat1">Algodón</option>
                <option value="mat2">Sintético</option>
                <option value="mat3">Denim</option>
        	<option value="mat4">Seda</option>
        </select>
            </th>
            </td>

            <td>
            <th>
               <label for="Precio">Precio:</label>
            </th>
            <th>
                <select name="Precio" id="Precio" class="form-control">
        	<option value="bajo">Menos de 50 so</option>
                <option value="medio">Más de 50 so</option>
                <option value="alto">Más de 80 so</option>
        </select>
            </th>
            </td>

            <td>
            <th>
               <label for="Color">Color:</label>
            </th>
            <th>
                <select name="Color" id="Color" class="form-control">
        	<option value="coAz">Azul</option>
                <option value="coAm">Amarillo</option>
                <option value="coRo">Rojo</option>
                <option value="coBl">Blanco</option>
                <option value="coNe">Negro</option>
                <option value="coGr">Gris</option>
                <option value="coVe">Verde</option>
        </select>
            </th>
            </td>

        </tr>
        
        <tr>
            <td>
            <th>
             <!-- filtrar 
        <input type="button" class="btn btn-primary" value="Buscar"/> -->
        @using (Html.BeginForm("Filtrar","Productos"))
        {
        <input type="submit" value="Buscar" class="btn btn-outline-info" />
        } 
        </th>
            </td>
        </tr>
    </table>
      
</form>